.row.no-gutters
  .col-md-6.mt-md-0
    section.plans.dark.left.m30
      h1= basic_plan1
      h2 Unlimited ₹ 2000
      
      span.link-desc Validity 90 Days
      span.link-recharge(onClick="alert()")   Recharge now >
  .col-md-6.mt-md-0
    section.plans.light.right.m300
      h1= basic_plan2
      h2 Unlimited ₹ 850
      span.link-desc Validity 30 Days
      span.link-recharge(onClick="alert()")   Recharge now >
//- .row.no-gutters
//-   .col-md-6.mt-md-0
//-     section.plans.light.left.m500
//-       h1= basic_plan3
//-       h2 500 GB ₹ 999
//-       span.link-desc Validity 30 Days
//-       span.link-recharge(onClick="alert()")   Recharge now >
//-   .col-md-6.mt-md-0
//-     section.plans.dark.right.m1000
//-       h1= basic_plan4
//-       h2 1000 GB ₹ 1499
//-       span.link-desc Validity 30 Days
//-       span.link-recharge(onClick="alert()")   Recharge now >