.body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 60px;
}
.light {
  background-color: #25b396;
  color: white;
}
.dark {
  padding-top: 35px;
  height: 400px;
  min-width: 350px;
  background-color: #f1a104;
  color: white;
}
.highlight {
  margin-top: 0px;
  padding-top: 100px;
}
.highlight a {
  text-decoration: none;
}

.link-buy {
  font-size: small;
  font-weight: bold;
  color: #f5c941;
  margin-left: 10px;
}
.link-desc {
  font-size: small;
  font-weight: bold;
  margin-right: 10px;
  color: #ffffff;
}
.plans.store h1 {
  font-size: 1.5em;
  font-weight: bold;
}
.plans.store h2 {
  font-size: 1.25em;
  font-weight: lighter;
}

.plans h1 {
  font-size: 3em;
  font-weight: bold;
  color: white;
}
.plans h2 {
  font-size: 2em;
  font-weight: lighter;
  color: #033035;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.link-desc {
  font-size: small;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}
.link-recharge {
  font-size: small;
  font-weight: bold;
  margin-right: 10px;
  color: #034c2c;
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
}

.footer-dark {
  margin-top: 10px;
  color: white;

  opacity: 0.9;
  font-size: small;
}
.footer-dark a {
  text-decoration: none;
  color: skyblue;
}

.plans {
  text-decoration: none;
  padding-top: 80px;
  margin-top: 10px;
  /* height: 700px; */
  height: auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.plans a {
  text-decoration: none;
}
.misc h5 a {
  text-decoration: none;
}

.m100 {
  background-image: url("");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}

.m1000 {
  background-image: url("");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.m500 {
  background-image: url("");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.m300 {
  background-image: url("");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.m30 {
  background-image: url("");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.left {
  margin-left: 10px;
}

.right {
  margin-left: 10px;
  margin-right: 10px;
}

/* misc section */
.misc {
  max-width: 800px;
  padding: 20px;
  background-color: white;
  color: slategray;
  text-align: left;
  margin: auto;
  opacity: 85%;
  border-radius: 25px;
}
.misc h1 {
  color: #0277a2;
}
.misc h5 {
  color: black;
}
.misc p b {
  color: #0277a2;
}

/* Pay Bill */
#pay-bill,
#contact-us {
  max-width: 480px;
  padding: 20px;
  background-color: white;
  color: #0277a2;
  text-align: left;
  margin: auto;
  opacity: 85%;
  border-radius: 25px;
}
#pay-bill-action,
#contact-us-action {
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  footer h5 {
    font-size: 1.25em;
    font-weight: bold;
  }

  .highlight {
    width: 100%;
  }
  .plans {
    width: 100%;
  }
  .store {
    width: 100%;
  }
  .left {
    margin-left: 0px;
    margin-right: 0px;
  }
  .right {
    margin-left: 0px;
    margin-right: 0px;
  }
  #pay-bill {
    margin-left: 5%;
    margin-right: 5%;
  }
}
