br
br
.container
  .row
    .col-lg
      i.fa.fa-history
      br
      br
      
      span.link-detail(onClick="#!" data-toggle="modal" data-target="#comingSoonModal" href="#!")  View usage history
    .col-lg
      i.fas.fa-user-cog
      br
      br
      a(href="#")
        span.link-detail Service Request
    .col-lg
      i.fa.fa-credit-card
      br
      br
      a(href="/utils/pay-bill")
        span.link-detail Pay Bill
    .col-lg
      i.fas.fa-users
      br
      br
      span.link-detail(onClick="#!" data-toggle="modal" data-target="#comingSoonModal" href="#!")  Refer a Friend 
br
br