footer.page-footer.blue.pt-4.text-white.bg-dark.footer-dark
  .container-fluid.text-center.text-md-left
    .row
      .col-md-6.mt-md-0.mt-3
        h5.text-uppercase Speedify
        p
            VNO License No : 
            <br>License holder for All India
            <br>CIN No : 
            <br>MSME No : 
            <br>GST-Maharashtra :
      hr.clearfix.w-100.d-md-none.pb-3
      .col-md-3.mb-md-0.mb-3
          h5.text-uppercase Utilities
          ul.list-unstyled
            li
              a(href="/utils/downloads") Downloads
            li
              a(href="/utils/cacti") Cacti
            li  
              a(href="#") CRF
            li  
              a(href="/utils/pay-bill") Pay Bill 
      .col-md-3.mb-md-0.mb-3
          h5.text-uppercase Misc
          ul.list-unstyled
            li
              a(href="/us/contact-us") Contact us
              li
              a(href="/us/about-us") About us
            li  
              a(href="/us/terms-conditions") Terms & Condition
            li
              a(href="/us/privacy-policy") Privacy Policy
            li  
              a(href="/us/careers") Careers
      hr.clearfix.w-100.d-md-none.pb-3
    .footer-copyright.text-center.py-3 © 2020 Copyright: 
      a(href="#") Speedify
    .footer-copyright.text-center.py-3 Services Managed by   
      a(href="https://easyfi.net.in") EasyFi